<div class="mb-3">
    <input type={{type}} [class.is-invalid]="control.touched && ngControl.invalid" class="form-control" [formControl]="control" placeholder={{label}}>
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">Please enter a {{label}}</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">{{label}} must be at least {{control.errors?.['minlength'].requiredLength}} characters</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">{{label}} must be at most {{control.errors?.['maxlength'].requiredLength}} characters</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">Password do not match</div>
</div>